html body {
  background: #333;
  color: #fff;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

header {
  margin: 0 5px;
  background: #ffea00;
  box-shadow: 2px 2px 8px #333;
  padding: 4px 20px;
}

.page-title {
  margin: 0;
  text-shadow: 0.1px 1px 1px #333;
}

.page-title a {
  font-family: Arial, Helvetica, sans-serif;
}

.feed {
  margin: 50px 50px 0 50px;
  min-height: 800px;
}

.my-feed h3 {
  padding: 15px;
  color: #222;
  overflow-wrap: break-word;
}

.submit {
  margin-bottom: 10px;
}

.new-meow {
  background: #fafafa;
  padding: 25px;
  width: 100%;
  display: inline-flex;
  border-radius: 8px;
}

.new-meow input {
  margin-right: 10px;
}

.delete {
  float: right;
  font-size: 18px;
}

.form-control:focus {
  box-shadow: 0 0 10px orange;
  border: 1px solid yellow;
  border-radius: 5px;
}

.meow-container {
  border-radius: 5px;
  box-sizing: border-box;
  background: #f8f8f8;
}

.meow-container:hover {
  border-left: 8px solid #ffea00;
}

.glyphicon-user {
  margin: 0 10px;
}

.btn {
  background: #ffea00;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px #333;
  padding: 7px 15px;
  color: #333;
  margin-right: 8px;
}

.signup-container {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 50px 0;
  min-width: 380px;
}

.signup-box {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 50px;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}

.up {
  margin-bottom: 20px;
}

footer {
  background: #ffea00;
  padding: 10px;
  color: #333;
}

.foot-container {
  text-align: center;
}

.care {
  color: crimson;
  font-size: 16px;
}

/* Bootstrap  */

.alert {
  max-width: 400px;
  margin: 0 auto 20px;
  text-align: center;
}

.input-group-addon {
  border: none;
  top: 0;
  color: #999;
  background: #f8f8f8;
}

/* Welcome page  */

.user {
  display: inline-flex;
  margin-bottom: 30px;
}

#user-pic {
  margin-right: 15px;
}

.user-img {
  border: 1px solid #222;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: black;
  overflow: hidden;
}

.fs-container {
  display: inline-flex;
}

.f {
  padding: 5px 8px;
  margin-right: 10px;
  text-align: center;
  color: #333;
  background: #ffea00;
  box-shadow: 2px 2px 3px black;
  border-radius: 8px;
}

.f:hover {
  background: rgba(255, 234, 0, 0.9);
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
}

.f-p {
  display: flex;
  margin-bottom: 5px;
}

.user-container {
  font-size: 30px;
}
