<div class="row feed">
  <div class="col-sm-4">
    <div class="signin-box" ng-hide="currentUser">
      <h2>Login</h2>
      <br />
      <div ng-if="emptyError" class="alert alert-danger" role="alert">
        <strong>All fields are mandatory!</strong>
      </div>
      <div class="alert alert-danger" role="alert" ng-if="userNotFound">
        <strong>Invalid User Credentials</strong>
      </div>
      <div class="input-group">
        <span
          class="input-group-addon glyphicon glyphicon-user"
          id="basic-addon1"
        >
        </span>
        <input
          class="form-control"
          type="text"
          placeholder="Username"
          ng-model="username"
        />
      </div>
      <br />
      <div class="input-group">
        <span
          class="input-group-addon glyphicon glyphicon-asterisk"
          id="basic-addon1"
        ></span>
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          ng-model="password"
        />
      </div>
      <br />
      <button class="btn submit" type="submit" ng-click="signin()">
        SIGN IN</button
      ><br /><br />
      <a href="#/signup">Not a member? Signup</a>
    </div>
    <div
      class="welcome-user"
      ng-show="currentUser"
      ng-include="'./includes/welcome.htm'"
    ></div>
  </div>
  <div class="col-sm-8 my-feed">
    <div class="new-meow" ng-show="currentUser">
      <input
        required
        ng-model="newMeow"
        class="form-control"
        type="text"
        placeholder="What do you have to bubble today?"
      />
      <button
        title="Meow Box is empty!"
        ng-disabled="!newMeow"
        ng-click="onSubmit()"
        class="btn"
        type="button"
      >
        Submit
      </button>
    </div>
    <div class="meow-container" ng-repeat="meow in meows">
      <h3>
        <a
          href="#"
          ng-click="removeMeow(meow)"
          ng-show="currentUser == meow.username"
          ><span
            class="glyphicon glyphicon-remove-circle delete"
            aria-hidden="true"
          ></span
        ></a>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{
        meow.text }}
        <br />
        <strong style="font-size: 13px">{{meow.username}}</strong>
      </h3>
    </div>
  </div>
</div>
